
<div class="maint-content">
    <div class="container-fluid">
        <div class="col-md-4" style="margin: auto;">
            <div class="card" style="height: 400px;">
                <div class="card-header card-header-info">
                    <h4 
                    class="card-title"
                    style="text-align: center">Selamat datang di Click Care</h4>
                    <p 
                    class="card-category"
                    style="text-align: center">Silahkan Login</p>
                </div>
                <div class="card-body" style="margin: auto;">
                    <form [formGroup]="userLogin" class="mt-5" 
                    (ngSubmit)="signIn()">
                        <div class="row">
                            <div class="col-md-12">
                                <mat-form-field class="example-full-width">
                                    <input matInput placeholder="Email" formControlName="email" name="email" type="text">
                                    <mat-error *ngIf="userLoginError('email', 'required')">Email wajib di isi</mat-error>
                                    <mat-error *ngIf="userLoginError('email', 'email')">Email tidak valid</mat-error>
                                </mat-form-field>
                            </div>
                        </div>
                        <div class="row">
                            <div class="col-md-12">
                                <mat-form-field class="example-full-width">
                                    <input matInput placeholder="Password" type="password" formControlName="password" name="password">
                                    <mat-error *ngIf="userLoginError('password', 'required')">Email wajib di isi</mat-error>
                                </mat-form-field>
                            </div>
                        </div>
                        <div class="row mt-2">
                           <div class="col-md-12">
                                <button 
                                mat-raised-button type="submit" 
                                class="btn btn-info button-login">
                                Login</button>
                           </div>
                        </div>
                        <div class="row mt-3">
                            <div class="col-md-12">
                                <a class="forgot-password" routerLink="/forgot-password">Lupa Password ?</a>
                            </div>
                         </div> 
                    </form>
                </div>
            </div>
        </div>
    </div>
</div>