<h1 mat-dialog-title>Status Dokter</h1>
<div mat-dialog-content>
    <p>Pilih Keterangan Ketersedian Status Dokter</p>
    <mat-radio-group 
    [(ngModel)]="data.status" 
    style="display: flex; justify-content: start;">
        <mat-radio-button value="Ada" style="margin-right:20px">Ada</mat-radio-button>
        <mat-radio-button value="Tidak Ada">Tidak Ada</mat-radio-button>
    </mat-radio-group>
</div>
<div mat-dialog-actions>
    <button mat-button (click)="onNoClick()">Batal</button>
    <button mat-button [mat-dialog-close]="data.status" >Simpan</button>
</div>